[data-v-20d63330]:root {
    --main-color: #007BFF;
    --secondary-color: #FFFFFF;
    --input-border-color: #CCD1D9
}

.page-container[data-v-20d63330] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(3-CPBN083G.jpg) no-repeat center center;
    background-size: cover;
    color: var(--secondary-color)
}

.login-container[data-v-20d63330] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px
}

.login-card[data-v-20d63330] {
    width: 100%;
    box-shadow: 0 0 20px #0000001a
}

.frosted-glass[data-v-20d63330] {
    background: #ddd6d64d;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000001a;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px)
}

.q-card[data-v-20d63330] {
    padding: 20px
}

.full-width[data-v-20d63330] {
    width: 100%
}

.rounded-button[data-v-20d63330] {
    border-radius: 50px;
    border: 2px solid var(--q-primary);
    padding: 10px 20px;
    text-align: center
}

.rounded-button .q-btn__content[data-v-20d63330] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.q-input[data-v-20d63330] {
    margin-bottom: 20px;
    border-color: var(--main-color)
}
